<a href="https://colab.research.google.com/github/adityasodani03/pythonpractice/blob/main/List_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [3]:
odd_numbers=[i for i in range(1,50,2)]
print("the first 25 odd numbers are :",odd_numbers)

the first 25 odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Question 2

In [5]:
str1=input("enter the string :")
lower_case=[char for char in str1 if char.islower()]
upper_case=[char for char in str1 if not char.islower()]
result=lower_case+upper_case
output_str1=''.join(result)
print(output_str1)

enter the string :akjkUHJ8287***&^)*!&&
akjkUHJ8287***&^)*!&&

Question 3

In [9]:
str1=input("enter the string :")
count1=0
count2=0
count3=0
mylist=[char for char in str1]
for i in range(0,len(mylist)):
  if((mylist[i]>="a" and mylist[i]<="z") or (mylist[i]>="A" and mylist[i]<="Z")):
    count1+=1
  elif(mylist[i]>="0" and mylist[i]<="9"):
    count2+=1
  else:
    count3+=1
print("Letters count :",count1)
print("Digits count :",count2)
print("Special characters count :",count3)

enter the string :adityasodani28@gmail.com
Letters count : 20
Digits count : 2
Special characters count : 2

Question 4

In [14]:
mylist=["aditya","","tushar","",""," adi",""]
newlist=[]
for i in range(0,len(mylist)):
  str1=mylist[i]
  if(str1!=""):
    newlist.append(str1)
print(newlist)

['aditya', 'tushar', ' adi']

Question 5

In [16]:
str1=input("enter the string :")
mylist=[char for char in str1]
newlist=[]
for i in range(0,len(mylist)):
  if((mylist[i]>="a" and mylist[i]<="z") or (mylist[i]>="A" and mylist[i]<="Z") or (mylist[i]>="0" and mylist[i]<="9")):
    newlist.append(mylist[i])
print(newlist)

enter the string :AD#%@jhahgs87231
['A', 'D', 'j', 'h', 'a', 'h', 'g', 's', '8', '7', '2', '3', '1']

Question 6

In [20]:
str1=input("enter the string :")
mylist=[char for char in str1]
newlist=[]
for i in range(0,len(mylist)):
  if((mylist[i]>="0" and mylist[i]<="9")):
    newlist.append(mylist[i])
str1=''.join(newlist)
print(str1)

enter the string :i am 23 years and 04 months old
2304

Question 10

In [21]:
mylist=[1,2,3,4,6,8,10]
start=0
end=len(mylist)-1
while(start<=end):
  temp=mylist[start]
  mylist[start]=mylist[end]
  mylist[end]=temp
  start+=1
  end-=1
print(mylist)

[10, 8, 6, 4, 3, 2, 1]

Question 11

In [25]:
mylist=[1,23,53,123,4324]
#three methods :
#mylist[:]
#list(mylist)
#mylist.copy
clone_list=mylist.copy()
print(mylist)
print(clone_list)

[1, 23, 53, 123, 4324]
[1, 23, 53, 123, 4324]

Question 12

In [26]:
mylist=[123,4241,1,3,33212]
sum=0
for i in mylist:
  sum=sum+len(str(i))
print(sum)

14

Question 13

In [32]:
mylist=[5,4,3,2,1]
smallest=mylist[0]
for i in mylist:
  if(i<smallest):
    smallest=i
print(smallest)

1

Question 14

In [33]:
mylist=[12,3,232,63,46,42,1]
count_even=0
count_odd=0
for i in mylist:
  if(i%2==0):
    count_even+=1
  else:
    count_odd+=1
print("count of even numbers :",count_even)
print("count of odd numbers :",count_odd)

count of even numbers : 4
count of odd numbers : 3

Question 15

In [35]:
mylist=[1,2,2,3,4,5,5,5,6]
mydict={}
for i in mylist:
  if(i not in mydict):
    mydict[i]=1
  else:
    mydict[i]+=1
print("no. of unique values in list is :",len(mydict))

no. of unique values in list is : 6