<a href="https://colab.research.google.com/github/adityasodani03/pythonpractice/blob/main/listassignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers=[10,20,4,45,99]
max1=numbers[0]
for i in range(1,len(numbers)):
  if(numbers[i]>max1):
    max1=numbers[i]
print(max1)

99

In [ ]:
mylist=[10,20,30,40]
sum1=0
for i in range(0,len(mylist)):
  sum1=sum1+mylist[i]
print(sum1)

100

In [ ]:
mylist=[1,2,3,4,5]
mylist1=[]
for i in range(len(mylist)-1,-1,-1):
  mylist1.append(mylist[i])
print(mylist1)

[5, 4, 3, 2, 1]

In [ ]:
mylist=[2,32,4,13,54,3]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]>mylist[j]):
      temp=mylist[i]
      mylist[i]=mylist[j]
      mylist[j]=temp
print(mylist)

[2, 3, 4, 13, 32, 54]

In [ ]:
mylist=[1,2,3,2,4,3,5,8,6,5]
unique_mylist=[]
for i in mylist:
  if i not in unique_mylist:
    unique_mylist.append(i)
print(unique_mylist)

[1, 2, 3, 4, 5, 8, 6]

In [ ]:
mylist=[1,2,3,4,3,5,6]
target=6
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]+mylist[j]==target):
      print(mylist[i],mylist[j])

1 5
2 4
3 3

In [ ]:
mylist=[1,2,3,4,5]
max1=mylist[0]
min1=mylist[0]
sum1=0
for i in range(0,len(mylist)):
  if(mylist[i]>max1):
    max1=mylist[i]
  if(mylist[i]<min1):
    min1=mylist[i]
  sum1=sum1+mylist[i]

sum1=sum1-max1-min1
print(sum1)

9

In [ ]:
mylist=[1,2,3,2,1]
left=0
right=len(mylist)-1

while left<right:
  if(mylist[left]==mylist[right]):
    left=left+1
    right=right-1
  else:
    print("not palindrome")
    break
else:
  print("palindrome")

palindrome

In [14]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
result=[]
for i in range(0,len(list1)):
  for j in range(0,len(list2)):
    if(list1[i]==list2[j]):
      result.append(list1[i])
      break
print(result)

[3, 4, 5]

In [15]:
words = ["apple", "banana", "strawberry", "kiwi"]
longest_word=""

for word in words:
  if(len(word)>len(longest_word)):
    longest_word=word
print(longest_word)

strawberry

In [16]:
numbers=[1,2,3,5,6,7]

n=len(numbers)+1
expected_sum= n*(n+1)/2

actual_sum=0
for i in numbers:
  actual_sum+=i
missing_number=expected_sum-actual_sum
print(missing_number)

4.0