<a href="https://colab.research.google.com/github/adityasodani03/pythonpractice/blob/main/pythonassignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(1,5):
    print("*",end="")
  print("")

****
 ****
  ****
   ****

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if(i==1 or i==4 or j==1 or j==4):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

****
*  *
*  *
****

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(chr(65+j),end="")
  print("")

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(0,5):
  for j in range(i+1):
    print(chr(65+i),end="")
  print("")

A
BB
CCC
DDDD
EEEEE

In [ ]:
for i in range(5,0,-1):
  for j in range(4,i-2,-1):
    print(chr(65+j),end=" ")
  print("")

E
E D
E D C
E D C B
E D C B A

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(0,i):
    print("*",end="")
  print("")

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(0,i):
    print(k+1,end="")
  print("")

    1
   12
  123
 1234
12345

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print(" ",end="")
  for k in range(1,7-i):
    print(k,end="")
  print("")

12345
 1234
  123
   12
    1

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print(" ",end="")
  for k in range(0,6-i):
    print(chr(k+65),end="")
  print("")

ABCDE
 ABCD
  ABC
   AB
    A

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,6):
    print("*",end="")
  print("")

    *****
   *****
  *****
 *****
*****

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,6):
    print(k,end=" ")
  print("")

    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(0,5):
    print(chr(65+k),end=" ")
  print("")

    A B C D E
   A B C D E
  A B C D E
 A B C D E
A B C D E

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print("")

   *
  ***
 *****
*******

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
    if(k==1 or k==i or i==4):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

   *
  * *
 *   *
* * * *

In [ ]:
n=4
for i in range(0,4):
  print(" "*i,end="")
  print("*" * (2*n-1))
  n-=1

*******
 *****
  ***
   *

In [ ]:
n=4
for i in range(1,n+1):
  print("*"*i)
for i in range(n-1,0,-1):
  print("*"*i)

*
**
***
****
***
**
*

In [ ]:
n=4
for i in range(1,n+1):
  print(" "*(n-i),end="")
  print("*"*i)
for i in range(1,n):
  print(" "*i,end="")
  print("*"*(n-i))

   *
  **
 ***
****
 ***
  **
   *

In [ ]:
n=4
for i in range(1,n+1):
  print(" "*(n-i),end="")
  print("*"*(2*i-1))
for i in range(1,n):
  print(" "*i,end="")
  print("*"*(2*(n-i)-1))

   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,7-i):
    print(j,end=" ")
  print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or i==j):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1
1 2
1   3
1     4
1 2 3 4 5